body{
    margin:auto;
}

#masthead{
    background:#ffd700;
    color:black;
    padding:50px;
    text-align: center;
    margin-bottom:60px;
}

footer{
    background:#ffd700;
    position: fixed;
    width:100%;
    bottom:0;
    padding:35px;
    color:black;
    text-align: center;
    margin-top:5px;
}
