body{
    background-color: black;
    color:white;
}

.container{
    border:10px dotted white;
    padding:30px;
}
#gameimageheader {
    height:150px;
}

.gamebox{
    border:6px solid #ffd700;
    margin-top:20px;
    margin-bottom:7px;
    margin-left:3px;
    margin-right:3px;
}
