body {
    background-color: black;
    color:white;
}

#gameheader{
    color:yellow;
    text-align: center;
}
#gameheaderimage{
    height:380px;
    width:100%;
}

.container{
    border: 10px dotted white;
    margin:80px auto;
}

.gamebox {
	border: 5px solid #ffd700;
	height: 380px;
    padding-top: 15px;
    margin-top:30px;
    margin-bottom:30px;
}

#instructions{
    color:#ffd700;
}



#instructions{
    color:#ffd700;
}

p {
	color: white;
	text-align: center;
}


.container{
    border: 10px dotted white;
    margin:50px auto;
}

.btn-default {
    color:black;
    background:#ffd700;
    font-size:18px;
    font-weight:bold;
    cursor: pointer;
}
