#masthead{
    background:lightskyblue;
    color: white;
    padding:80px;
    margin-bottom:40px;
}



.hangmangamebox{
    color:black;
    text-align: center;
    margin:auto; 
    margin-bottom:80px;
    width:70%;
    height:300px;
    padding:40x;  
    padding-top:20px;
}

footer{
    background:lightskyblue;
    position:fixed;
    width:100%;
    bottom:0;
    padding:10px;
    color:white;
    text-align: center;
}